body {
    margin: 0;
    padding: 0;
    background-color: #1C1E21;
}
input[type='checkbox'] {
    display: none;
}
.wrap-collabsible {
    margin: 1.2rem 0;
}
.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #B986FE;
    background: #282D30;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}
.lbl-toggle:hover {
    background-color: #3B4347;
}
.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}
.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}
.collapsible-content, .animation-collapsible-content, .image-collapsible-content, .final-collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
    background-color: #2A2F33;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.toggle:checked + .lbl-toggle + .collapsible-content, .toggle:checked + .lbl-toggle + .animation-collapsible-content, .toggle:checked + .lbl-toggle + .image-collapsible-content, .toggle:checked + .lbl-toggle + .final-collapsible-content {
    max-height: 350px;
    border: 1px solid black;
}
.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.collapsible-content .content-inner, .animation-collapsible-content .content-inner, .image-collapsible-content .content-inner, .final-collapsible-content .content-inner {
    background: rgba(0, 105, 255, .2);
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}
.collapsible-content p, .animation-collapsible-content p, .image-collapsible-content p, .final-collapsible-content p {
    margin-bottom: 0;
    color: #A7A8A8;
}

.flex-container {
    display: flex;
    column-gap: 2px;
    margin-top: 2px;
}

.flex-child {
    flex: 1;
}  

.flex-child div {
    margin-bottom: 2px;
}

#header {
    height: 50px;
    width: 100%;
    background-color: #222528;
    color: #B986FE;
}

#header p {
    text-align: center;
    line-height: 50px;
}

a:active, a:link, a:visited {
  color: #B986FE;
  background-color: transparent;
  text-decoration: underline;
}
